body {
    background: #444;
    color: #fff;
    font-family: sans-serif;
}

button {
    border: none;
    background: hsl(128, 50%, 40%);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background: hsl(128, 50%, 45%);
}

button,
input,
textarea {
    border-radius: 6px;
    margin: 8px 0;
    padding: 12px 24px;
}

button[disabled] {
    background: #222;
    pointer-events: none;
}

input,
textarea {
    border: 1px solid #ccc;
    display: block;
}

fieldset {
    padding: 0;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    border: none;
}

.gr {
    display: flex;
    flex-wrap: wrap;
}

.gr>fieldset {
    min-width: 0;
}

svg {
    width: 100%;
    height: 128px;
    background: #343;
}
textarea, svg {
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.35);
}
.axis line, .axis .domain {
    stroke: #8c8;
}
.bar, .axis text {
    fill: #8c8;
}

